@keyframes slide_in {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}
@keyframes slide_out {
  from {
    left: 0;
  }
  to {
    left: -500px;
  }
}
.Menu_Animated {
  left: 0;
  animation: slide_in 0.5s ease;
  animation-fill-mode: forwards;
  transition: left 0.5s ease;
}

body {
  width: 100%;
  background-color: #e7e5e5;
  overflow-x: hidden;
}

.NavBar_container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 3px 3px 3px 1px lightgray;
  z-index: 10;
}
.NavBar_container .first_sec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 3;
  width: 10%;
}
.NavBar_container .first_sec .logo {
  width: 150px;
  height: auto;
}
.NavBar_container .first_sec .menu_btn {
  width: 70px;
  cursor: pointer;
  transition: 0.5s;
}
.NavBar_container .first_sec .menu_btn:hover, .NavBar_container .first_sec .menu_btn:active {
  opacity: 0.5;
}
.NavBar_container .second_sec {
  text-align: center;
  flex-grow: 4;
  width: 50%;
  padding: 10px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.NavBar_container .second_sec .search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  width: 90%;
  padding: 20px;
  padding-left: 35px;
  background-color: #e7e5e5;
  border-radius: 15px;
  border: 0;
}
.NavBar_container .second_sec #search_icon {
  position: relative;
  left: 30px;
}
@media screen and (max-width: 1190px) {
  .NavBar_container .second_sec {
    width: 30%;
  }
}
@media screen and (max-width: 910px) {
  .NavBar_container .second_sec {
    width: 20%;
  }
}
.NavBar_container .third_sec {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.NavBar_container .third_sec .library_status {
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  background-color: #a4f1a4;
  box-shadow: 1px 1px 1px 1px lightgray;
}
.NavBar_container .third_sec .librarian_status {
  background-color: #4682B4;
  color: white;
}
.NavBar_container .third_sec #bell {
  position: relative;
  cursor: pointer;
  font-size: 35px;
  transition: 0.5s;
}
.NavBar_container .third_sec #bell .cart-count {
  position: relative;
  text-align: center;
  font-size: medium;
  background-color: palevioletred;
  border-radius: 25px;
  padding: 7px;
  color: white;
  left: -15px;
}
.NavBar_container .third_sec #bell:hover {
  transform: translateY(-10px);
}
.NavBar_container .third_sec .bellanimated {
  animation: bounceup 1s ease;
}
.NavBar_container .secondsec_resize {
  font-size: 30px;
}
@keyframes bounceup {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.MenuItem {
  position: fixed;
  height: 100%;
  background-color: white;
  top: 101px;
  left: -500px;
  width: 300px;
  box-shadow: 0px 3px 3px 2px lightgray;
  z-index: 10;
}
.MenuItem .profile_sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-wrap: wrap;
  padding: 5px;
}
.MenuItem .profile_sec .profile_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.MenuItem .profile_sec .Account_Detail {
  font-size: small;
  font-weight: 700;
}
.MenuItem .menu_sec {
  margin-top: 10px;
  font-weight: 800;
  font-size: smaller;
  height: 550px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.MenuItem .menu_sec .link_page {
  width: 80%;
  background-color: rgb(105, 105, 105);
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s;
}
.MenuItem .menu_sec .link_page:hover, .MenuItem .menu_sec .link_page:active {
  color: black;
  background-color: lightgrey;
}
.MenuItem .menu_sec p {
  background-color: lightcoral;
  color: white;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.MenuItem .menu_sec p:hover {
  background-color: red;
}
@media screen and (max-width: 900px) {
  .MenuItem {
    width: 220px;
  }
}

.Notification_container {
  position: fixed;
  overflow: auto;
  max-height: 500px;
  top: 11.5%;
  user-select: none;
  right: 0;
  width: 16%;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.Notification_container .notification_content {
  width: 100%;
  border-bottom: 1px solid black;
}
.Notification_container .notification_content .title {
  overflow-wrap: break-word;
  max-width: 200px;
}
.Notification_container h2 {
  padding: 10px;
  text-align: center;
  background-color: rgb(99, 99, 99);
  color: white;
}

.Login_container {
  background-color: #65A3D8;
  height: 100vh;
}
.Login_container .Login_form {
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  transform: translate(30vw, 10vh);
  width: 40%;
  border-radius: 25px;
  height: 80vh;
  box-shadow: 0px 1px 1px 1px lightgray;
}
.Login_container .Login_form .logo {
  margin-top: -150px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.Login_container .Login_form input {
  margin-top: -100px;
  width: 80%;
  padding: 20px;
  background-color: lightgrey;
  border-radius: 25px;
}
.Login_container .Login_form #login-btn {
  background-color: #4682B4;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.Login_container .Login_form #login-btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.loading_container {
  z-index: 2;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.loading_container .loading {
  width: 200px;
  height: 200px;
}

.Home_page {
  height: 100%;
  z-index: 1;
  color: black;
  background-color: white;
  width: 84%;
  height: 100%;
  margin-top: 10px;
  transition: 0.5s;
}
.Home_page .Scroll_container {
  height: 400px;
  width: 80%;
  background-color: #65A3D8;
}
.Home_page .Scroll_container h2 {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  margin-left: 80px;
}
.Home_page .Scroll_container .book_container {
  position: absolute;
  margin-left: 20px;
  height: 300px;
  width: 1000px;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  background-color: #a4f1a4;
}
.Home_page .Scroll_container .book_container .book {
  position: absolute;
  top: 0;
  margin-right: 10px;
  font-size: medium;
  font-weight: 500;
  width: 200px;
  background-color: #e7e5e5;
}
.Home_page .Scroll_container .book_container .book .book_cover {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.Home_page .Scroll_container .book_container .book .book_title {
  margin-top: 10px;
  height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
}
.Home_page .section_title {
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
}

.slider_container {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 95%;
}
.slider_container .title {
  font-size: xx-large;
  font-weight: 900;
}
.slider_container .slider {
  padding: 10px;
}
.slider_container .slider .swiper_slide {
  width: 200px;
}
.slider_container .slider .swiper_slide .book {
  width: 200px;
  transition: 0.5s;
}
.slider_container .slider .swiper_slide .book .book_title {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.slider_container .slider .swiper_slide .book .book_cover {
  object-fit: cover;
  width: 200px;
  height: 280px;
  border: 1px solid black;
}
.slider_container .slider .swiper_slide .book:hover {
  transform: translateY(-10px);
}

.Filter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 9;
  background-color: white;
  padding: 10px;
  padding-bottom: 100px;
  top: 100px;
  right: 0;
  height: 100%;
  width: 220px;
  box-shadow: 1px 1px 1px 1px lightgray;
  overflow: auto;
  font-size: 15px;
  font-weight: 600;
}
.Filter_container .filter_option {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  background-color: #65A3D8;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px lightgray;
  transition: 0.5s;
  cursor: pointer;
}
.Filter_container .filter_option:hover {
  background-color: black;
}
.Filter_container #search_cate {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 10px;
  background-color: #e2e2e2;
}
.Filter_container #search_cate:focus {
  outline: 1px solid #4682B4;
}

.allbook_container {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-items: center;
  padding-bottom: 50px;
}
.allbook_container .book_container {
  cursor: pointer;
  transition: 0.5s;
}
.allbook_container .book_container .book_title {
  width: 200px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.allbook_container .book_container .book_cover {
  width: 200px;
  height: 280px;
  object-fit: cover;
  border: 1px solid black;
}
.allbook_container .book_container:hover {
  transform: translateY(-10px);
}
.allbook_container .pagination_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
}

.bookdetail_contianer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: left;
  width: 100%;
  background-color: white;
}
.bookdetail_contianer .firstsec {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bookdetail_contianer .firstsec .book_cover {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border: 1px solid black;
}
.bookdetail_contianer .firstsec .detail {
  margin-left: 100px;
  width: 500px;
  overflow-x: scroll;
}
.bookdetail_contianer .firstsec .detail .content_table {
  text-align: left;
  overflow-wrap: break-word;
}
.bookdetail_contianer .firstsec .detail .content_table tr {
  height: 50px;
}
@media screen and (max-width: 870px) {
  .bookdetail_contianer .firstsec .book_cover {
    width: 200px;
    height: 250px;
  }
  .bookdetail_contianer .firstsec .detail {
    margin-left: 50px;
    width: 300px;
  }
}
.bookdetail_contianer .secondsec {
  width: 100%;
  text-align: center;
}
.bookdetail_contianer .secondsec .borrow-btn {
  background-color: #4682B4;
  color: white;
  font-weight: 800;
  font-size: 10px;
  padding: 10px;
  transition: 0.5s;
}
.bookdetail_contianer .secondsec .borrow-btn:hover {
  background-color: black;
  color: white;
}
.bookdetail_contianer .secondsec .brrowed {
  background-color: gray;
}
.bookdetail_contianer .secondsec .description {
  position: relative;
  top: 20px;
}
.bookdetail_contianer .secondsec .description h2 {
  font-size: 20px;
  font-weight: 900;
}
.bookdetail_contianer .secondsec .description p {
  position: relative;
  height: 300px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  overflow: auto;
  text-align: left;
}

.scanentry_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.scanentry_container .scan_instruction {
  text-align: center;
}
.scanentry_container .scan_instruction h1 {
  font-size: 30px;
  font-weight: 900;
}
.scanentry_container .scan_instruction h2 {
  font-size: 25px;
  color: red;
}
.scanentry_container .qrcode_reader {
  width: 600px;
  border: 5px solid black;
}

.student_modal .student_img {
  width: 30%;
  border-radius: 50%;
  object-fit: contain;
}
.student_modal .studentDetail_table {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}
.student_modal .studentDetail_table th {
  padding: 10px;
}
.student_modal .studentDetail_table .book_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student_modal .studentDetail_table .book_row .borrowed_book {
  font-weight: 700;
  margin-bottom: 20px;
}
.student_modal .studentDetail_table .book_row .borrowed_book img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.student_modal .studentDetail_table .book_row .borrowed_book p {
  width: 250px;
  overflow-wrap: break-word;
}

.studentlist_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.studentlist_container .header_sec {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.datatable_container .search_input {
  background-color: #e2e2e2;
  padding: 5px;
  width: 100%;
}
.datatable_container .table-btn {
  background-color: #4682B4;
  font-weight: 900;
  padding: 10px;
  color: white;
  font-size: small;
  height: 100%;
  transition: 0.5s;
}
.datatable_container .table-btn:hover {
  background-color: black;
}
.datatable_container .delete {
  background-color: palevioletred;
  margin-left: 10px;
}
.datatable_container .edit {
  background-color: lightseagreen;
  margin-left: 10px;
}

.booklist_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booklist_container .header_sec {
  font-size: 25px;
  font-weight: 900;
  background-color: white;
  padding: 10px;
  color: black;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
.booklist_container .table_sec {
  margin-top: 10px;
  width: 100%;
}

.checkout_container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
.checkout_container h1 {
  font-size: 25px;
  font-weight: 900;
}
.checkout_container .book_container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 90%;
  padding: 10px;
}
.checkout_container .book_container .book {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}
.checkout_container .book_container .book .book_cover {
  width: 200px;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid black;
}
.checkout_container .book_container .book .book_detail {
  width: 300px;
  overflow-wrap: break-word;
}
.checkout_container .book_container .book .trash {
  cursor: pointer;
  transition: 0.5s;
}
.checkout_container .book_container .book .trash:hover {
  color: gray;
}
.checkout_container .book_container .book .trash:active {
  transform: translateY(-10px);
}
.checkout_container .btn {
  position: relative;
  margin-top: 20px;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-weight: 900;
  transition: 0.5s;
  margin-right: 10px;
}
.checkout_container .btn:hover {
  background-color: white;
  color: black;
}

.checked_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checked_container .qrcode {
  width: 250px;
  height: 250px;
}

.borrowedbook_container {
  width: 100%;
  height: 100%;
  background-color: white;
}
.borrowedbook_container h1 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
.borrowedbook_container .table_container {
  width: 100%;
}

.Tablebook_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Tablebook_container .bookcover {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.check_book_container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.check_book_container img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.check_book_container .book_detail {
  width: 300px;
}
.check_book_container .book_detail p {
  text-align: left;
  font-weight: 600;
}

.entry {
  font-size: 20px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
